@model IEnumerable<Framework.Entities.Item>
@{
    ViewData["Title"] = "Index";
}
@*Framework.Entities.Item*@
<h1>
    Item List <span class="float-right"><a asp-action="Create" class="btn btn-outline-primary">Create New</a></span>
</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                UnitPrice
            </th>
            <th>
                Image
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Id
                   
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Description
                </td>
                <td>
                    @item.UnitPrice
                </td>
                <td>
                    <img src="@item.ImageUrl" width="70" height="70" />
                </td>
                <td>
                                      
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id, url = item.ImageUrl })
                </td>
            </tr>
        }
    </tbody>
</table>
